@import './variables';
@import './mixins';

// SS Sakr Soft Font for Arabic
// Note: Replace this with the actual font files if available
// For now, we'll use a fallback similar to the design
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-text-primary;
  background-color: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// RTL Support
[dir='rtl'] {
  text-align: right;
  direction: rtl;
}

[dir='ltr'] {
  text-align: left;
  direction: ltr;
  font-family: $font-family-english;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $color-primary;
  }
}

button {
  @include focus-visible;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-base;
}

// Utility classes
.container {
  @include container;
}

.text-center {
  text-align: center;
}

.text-truncate {
  @include truncate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
